#elementThree {
    margin-top: 5%;
    width: 100%;
}

#parentThree {
    display: flex;
    justify-content: center;
    align-items: center;
}

#aboutMe {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: fit-content;
    width: 82%;
    background-color: rgba(244,159,10, .8);
    margin-bottom: 5%;
    margin-left: 9%;
    margin-right: 9%;
}

#actualPhoto {
    display: block;
    margin-left: auto;
    margin-right: auto;
    object-fit: cover;
    padding: 2vw; 
    max-width: 60vw;
    min-width: calc(1em + 25vw);
    image-rendering: crisp-edges;
}

#aboutMeText {
    font-family: 'Roboto', sans-serif;
    font-size: calc(1em + 1vw);
    font-weight: 200;
    line-height: 1.5;
    color: white;
    margin: 2vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

#connect {
    text-align: center;
    padding-bottom: 5%;
}

#letsConnect {
    font-family: 'Roboto', sans-serif;
    font-weight: 200;
    font-size: calc(1em + 1vw);
    color:#f49f0a;
}

.iconButton {
    color:white;
}

.iconButton:hover {
    color:#f49f0a;
}

a {
    color: white;
    font-size: calc(.5em + .5vw);
    font-weight: 200;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
}

a:hover {
    color: #172121;
}

