html, body, h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    padding: 0;
    border: 0;
    width: 100%;
    height: 100%;
}

body {
    overflow-x: hidden;
}

/* HEADER CSS */

#elementOne {
    min-height: fit-content;
}

#headerParentContainer {
    background: linear-gradient(to bottom, #f49f0a calc(1em + 27.5vw), #172121 10%);
}

#headerTextContainer {
    margin-top: 12vw;
    margin-left: 3vw;
}

#myName, #myStatusOne {
    font-family: 'Roboto', sans-serif;
    font-weight: 200;
}

#myName {
    color: white;
    font-size: calc(.8em + 8vw);
    text-align: center;
}

#myStatusOne {
    color: #172121;
    margin-top: 0;
    font-size: 4.5vw;
    text-align: center;
}

#myStatusTwo {
    font-family: 'Roboto', sans-serif;
    font-weight: 200;
    margin-top: 0;
    font-size: 4vw;
    text-align: center;
    color: #f49f0a;
}

#imageContainer {
    height: 100%;
}

#myPhoto {
    margin-top: 8vw;
    width: 80%;
    max-width: 70vw;
    min-width: 260px;
    border-radius: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

