#elementTwo {
    width: 100%;
    height: auto;
    margin-top: 10%;
}

.cardHolder {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgba(115,135,123, .1);
    margin: 9%;
    border-radius: 20px;
    box-shadow: 4px 3px 30px #141a1a;
    height: fit-content;
}

#projectOne, #projectTwo {
    margin: 5%;
    height: 80%;
    max-height: 500px;
    min-height: 280px;
    max-width: 400px;
    align-items: center;
    background-color: white;
    box-shadow: 5px 5px 15px #141a1a;
}

.projectImage {
    padding-top: 5%;
    max-height: 300px;
    width: 300px;
    max-width: 60vw;
}

.projectAbout, .projectTools, .projectTitle {
    color: #172121;
    text-align: center;
}

.projectTitle {
    font-weight: 200;
    font-size: calc(1em + 2vw);
    line-height: 2;
}

.projectAbout {
    font-size: calc(1em + 1vw);
}

.projectTools {
    color: #f49f0a;
    font-size: calc(.8em + .8vw);
}
